<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#80fff9] to-[#5f5cfc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "></div> />
</div>
<app-navbar />
<main class="container mx-auto px-4 sm:px-6 lg:px-8 py-12">

    <section id="hero"
        class="flex flex-col lg:flex-row lg:gap-o gap-10 text-center py-1 lg:py-6 bg-surface rounded-lg shadow-material-4 mb-12 ">
        <div class="space-y-6 ml-0 lg:ml-12 flex flex-col lg:w-1/2 w-full lg:text-left">
            <p class="text-sm text-indigo-600 font-medium">Full Stack Developer</p>
            <h1 class="text-3xl sm:text-4xl lg:text-5xl font-extrabold leading-tight">Hi, I'm <span
                    class="text-indigo-600">Sayan Maity 👋</span> <br> I build System that scale.</h1>
            <p class="text-slate-600 dark:text-slate-300">Java Backend Developer with
                <span class="text-green-600 font-bold">4+ years</span> of
                Experience in Spring Boot, Kafka, AWS, Specialized in Building Scalable RestAPIs, Event-Driven
                Architecture & Microservices
            </p>

            <div class="flex flex-wrap gap-4 lg:mx-0 mx-auto font-semibold">
                <a href="/resume.pdf" download
                    class="px-4 py-2 border rounded-md text-sm bg-indigo-500 hover:bg-indigo-700 text-white inline-flex items-center gap-2">Download
                    Resume
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7 10l5 5 5-5M12 4v11" />
                    </svg>
                </a>
                <a href="#contact"
                    class="inline-flex items-center gap-2 px-5 py-3 rounded-md hover:bg-indigo-50 border-2 border-indigo-500">Get
                    in
                    touch</a>
            </div>
        </div>
        <div class="mx-auto flex">
            <img class="w-72 h-72 rounded-full my-auto border-2 shadow-lg" src="/images/SayanPP.png"
                alt="Your Profile Picture">
        </div>
    </section>

    <section id="skills" class="py-12 border-gray-200">

        <h2 class="text-4xl font-bold mb-10 text-center text-primary-dark">🛠️ Skills & Proficiency</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

            @for(skill of skills; track skill.title ){
            <div class="p-6 shadow-lg rounded-md bg-linear-to-tl from-[#80fff9] to-[#5f5cfc] backdrop-blur-2xl ">

                <p class="font-semibold px-2 mb-2 border-b-2 pb-0.5"> {{skill.title}} : </p>
                <div class="flex gap-2 flex-wrap ">
                    @for(item of skill.values; track item){
                    <p class="px-1 py-1 rounded-sm font-semibold">{{item}}</p>
                    }
                </div>

            </div>
            }
        </div>
    </section>

    <section id="experience" class="py-12 border-gray-200">
        <h2 class="text-4xl font-bold mb-10 text-center text-primary-dark">💼 Professional Experience</h2>
        <div class="max-w-4xl relative">
            <div class=" pl-8 sm:pl-0">
                <div class="hidden sm:block absolute left-1/2 transform -translate-x-1/2 w-0.5 h-full bg-gray-300">
                </div>
                <div class="mb-8 flex justify-between items-start w-full right-timeline">
                    <div class="hidden sm:block w-1/12 text-center pt-2">
                        <div
                            class="w-4 h-4 bg-primary rounded-full absolute left-1/2 transform -translate-x-1/2 ring-4 ring-primary/20 shadow-lg">
                        </div>
                    </div>
                    <div class="w-full sm:w-5/12 sm:pr-6">
                        <div class="bg-surface p-6 rounded-lg shadow-material-4 shadow-lg transition duration-300">
                            <h3 class="text-xl font-bold text-primary">{{experience?.role}}</h3>
                            <p class="text-sm text-text-secondary mb-2">{{experience?.companyName}} |
                                {{experience?.startDate}} - @if(experience?.isPresent){Present} </p>
                            <ul class="list-disc list-inside text-sm space-y-1 text-text-dark">
                                @for(exp of experience?.points; track exp ){
                                <li>{{exp}}</li>
                                }
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>


    <section id="projects" class="py-16 border-t border-gray-200">
        <h2 class="text-4xl font-bold mb-10 text-center text-primary-dark">💻 Featured Projects</h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">

            @for(p of projects; track p){
            <div
                class="bg-surface rounded-xl overflow-hidden shadow-material-4 hover:shadow-lg transition duration-500">
                <div class="p-6">
                    <h3 class="text-2xl font-bold mb-2 text-primary group-hover:text-primary-dark">{{p.title}}
                    </h3>
                    <p class="text-text-secondary mb-4 text-sm">{{p.subtitle}}</p>

                    @for(point of p.descriptions; track point){
                    <li>{{point}}</li>
                    }
                    <div class="flex flex-wrap gap-2 mb-4 mt-4">

                        @for(tag of p.tags; track tag){
                        <span
                            class="text-xs bg-gray-200 text-text-dark font-medium px-3 py-1 rounded-full">{{tag}}</span>
                        }
                    </div>

                    <div class="flex space-x-4">
                        <a href="#"
                            class="text-primary hover:text-primary-dark font-semibold flex items-center transition duration-300">Live
                            Demo</a>
                        <a href="#"
                            class="text-text-secondary hover:text-primary flex items-center transition duration-300">Code</a>
                    </div>
                </div>
            </div>

            }

        </div>
    </section>

    <section id="contact" class="py-16 border-t border-gray-200">
        <h2 class="text-4xl font-bold mb-10 text-center text-primary-dark">✉️ Let's Connect</h2>
        <div
            class="max-w-2xl mx-auto bg-surface p-8 rounded-xl shadow-material-4 hover:shadow-lg transition duration-300">
            <p class="text-lg mb-6 text-center text-text-secondary">Ready to start a conversation about a new
                opportunity or project?</p>
            <form action="[Your Form Submission Endpoint]" method="POST" class="space-y-6">
                <div>
                    <label for="name" class="block text-sm font-medium text-text-secondary">Name</label>
                    <input type="text" id="name" name="name" required
                        class="mt-1 block w-full rounded-md border border-gray-300 bg-bg-light text-text-dark focus:ring-primary focus:border-primary p-3 transition duration-300">
                </div>
                <div>
                    <label for="email" class="block text-sm font-medium text-text-secondary">Email</label>
                    <input type="email" id="email" name="email" required
                        class="mt-1 block w-full rounded-md border border-gray-300 bg-bg-light text-text-dark focus:ring-primary focus:border-primary p-3 transition duration-300">
                </div>
                <div>
                    <label for="message" class="block text-sm font-medium text-text-secondary">Message</label>
                    <textarea id="message" name="message" rows="4" required
                        class="mt-1 block w-full rounded-md border border-gray-300 bg-bg-light text-text-dark focus:ring-primary focus:border-primary p-3 transition duration-300"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit"
                        class="bg-primary hover:bg-primary-dark text-white font-bold py-3 px-8 rounded-full shadow-material-4 hover:shadow-lg transition duration-300">
                        Send Message
                    </button>
                </div>
            </form>
        </div>
    </section>

</main>

<footer
    class="border-2 my-1 mx-2 border-gray-500 rounded-md bg-surface py-4 text-center text-sm text-text-secondary shadow">
    <p>&copy; 2025 Sayan Maity | Made with ❣️ |
        <a href="https://github.com/sayancoding" class="hover:text-primary transition duration-300">GitHub</a> |
        <a href="https://www.linkedin.com/in/sayanmaity1999/"
            class="hover:text-primary transition duration-300">LinkedIn</a>
    </p>
</footer>